﻿
<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="Deleter.aspx.cs" Inherits="Counter.Deleter" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>