﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm6.aspx.cs" Inherits="Counter.WebForm6" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>