﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm3.aspx.cs" Inherits="Counter.WebForm3" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>