﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm4.aspx.cs" Inherits="Counter.WebForm4" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>