﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm5.aspx.cs" Inherits="Counter.WebForm5" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>