﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="Counter.WebForm2" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>