﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm7.aspx.cs" Inherits="Counter.WebForm7" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>