﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteStatistics.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="Counter.WebForm1" %>
<%@ MasterType VirtualPath="~/SiteStatistics.Master" %>